nz-form-item {
  display: flex;
  /* justify-content: space-between; */
}

label {
  color: white !important;
}

/* input {
  background-color: #4c036e;
} */

.chat-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100px;

  background-color: #4c036e;
  border-radius: 5px;
}

.message-input {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #fff;

  font-size: 20px;
}
