<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk(validateForm.value)"
  [nzOkLoading]="isOkLoading"
  nzOkText="Ok"
  nzCancelText="Canсel"
>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Program title</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="progErrorTpl">
        <input nz-input formControlName="progTitle" placeholder="Title" />
        <ng-template #progErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"> Please input program title! </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Amount</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="langErrorTpl">
        <input nz-input formControlName="lang" placeholder="Payment" />
        <ng-template #langErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"> Please input amount of payment! </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
