.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

nz-content {
  background-color: #4c036e;
}

.inner-content {
  padding: 24px;
}

nz-sider {
  background-color: #28023a;
  border-right: 10px solid #4c036e;
}

nz-footer {
  text-align: center;
  background-color: #28023a;
  border-top: 10px solid #4c036e;
}
