@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';

// -------- override less var -----------
@primary-color: #f5222d;
@text-color: #fff;
@text-color-secondary: #f5222d;
@heading-color: rgba(0, 0, 0, 0.85);
@table-header-bg: #4c036e;
@table-header-color: rgb(136, 135, 135);
@table-row-hover-bg: none;
@table-header-sort-bg: #390153;

@modal-heading-color: #f5222d;
@modal-close-color: #f5222d;
@modal-header-bg: #28023a;
@modal-footer-bg: #28023a;
@modal-header-border-color-split: #28023a;
@modal-footer-border-color-split: #28023a;
@modal-content-bg: #28023a;
@modal-close-bg: #28023a;
@modal-close-color: @text-color-secondary;

@btn-primary-color: #fff;
@btn-default-color: #f5222d;

@label-required-color: #fff;
@label-color: #fff;
@input-bg: #4c036e;
@input-border-color: #4c036e;
